<h1>Password restoring</h1>

<form action="/api/users/passwordreset" method="post">

    <label for="email">Email:</label>
    <input type="email" name="email" id="email" required>

    <label for="token">Confirmation Number:</label>
    <input type="text" name="token" id="token" required>

    <label for="password">New Password</label>
    <input type="password" name="password" id="password" required>

    <button type="submit">Restore Password</button>

</form>


{{#if error}}
<p class="error">{{error}}</p>
{{/if}}

<style>
    .error {
        color: red;
    }
</style>