<h1> Send code to restore password </h1>
<form action="/api/users/requestPasswordReset" method="POST">
    <label for="email"> Email: </label>
    <input type="text" name="email" id="email" required>

    <button type="submit"> Send code </button>
</form>

{{#if error}}
<p class="error"> {{error}} </p>
{{/if}}


<style>
    .error {
        color: red;
    }
</style>