<h1>Real Time Products</h1>
<h2>Productos actualizados en tiempo real</h2>
<button><a href="/api/users/profile">Profile</a></button>

{{#if products}}
<div id="contenedorProductos">

</div>
{{else}}
<p>No se encontraron productos.</p>
{{/if}}

<h2>Formulario para agregar productos</h2>

<form>
    <p>Title:</p>
    <input type="text" id="title" placeholder="Title">
    <p>Description:</p>
    <input type="text" id="description" placeholder="Description">
    <p>Price:</p>
    <input type="number" id="price" placeholder="Price">
    <p>Image</p>
    <input type="text" id="img" value="Sin Imagen">
    <p>Code:</p>
    <input type="text" id="code" placeholder="Code">
    <p>Stock:</p>
    <input type="number" id="stock" placeholder="Stock">
    <p>Category:</p>
    <input type="text" id="category" placeholder="Category">
    <p>Status:</p>
    <select id="status">
        <option value="true"> Activo </option>
        <option value="false"> Inactivo </option>
    </select>
    <select id="owner" hidden>
        <option value="{{owner}}"> My ID </option>
    </select>
    <select id="role" hidden>
        <option value="{{role}}"> My Role </option>
    </select>
    <button type="button" id="btnEnviar"> Enviar </button>
</form>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.socket.io/4.7.4/socket.io.min.js"></script>
<script src="js/realtime.js"></script>