{{!-- <h1>Productos realtime</h1>
<h2>Productos actualizados en tiempo real</h2>

<div id="contenedorProductos"></div>

<h2>Formulario para Agregar Productos</h2>
<form>
    <p>Title: </p>
    <input type="text" name="" id="title" placeholder="Title">
    <p>Description: </p>
    <input type="text" name="" id="description" placeholder="Description">
    <p>Price: </p>
    <input type="number" name="" id="price" placeholder="Price">
    <p>Img: </p>
    <input type="text" name="" id="thumbnails" value="Sin Imagen">
    <p>Code: </p>
    <input type="text" name="" id="code" placeholder="Code">
    <p>Stock: </p>
    <input type="number" name="" id="stock" placeholder="Stock">
    <p>Category: </p>
    <input type="text" name="" id="category" placeholder="Category">
    {{!-- <p>Status: </p> --}}
    {{!-- <select id="status">
        <option value="true">Enabled</option>
        <option value="false">Disabled</option>
    </select> --}}
    <br>
    <button id="btnEnviar">Enviar</button>
</form>


<script src="https://cdn.socket.io/4.7.4/socket.io.min.js"></script>
<script src="/js/main.js"></script> --}}