<h1>Register</h1>

<div class="contenedorRegister">
    <div class="card">
        <form action="/api/users/register" method="post">
            <label for="first_name">First Name:</label>
            <input type="text" name="first_name" placeholder="Nombre" required>

            <label for="last_name">Last Name:</label>
            <input type="text" name="last_name" placeholder="Apellido" required>

            <label for="email">Email:</label>
            <input type="text" name="email" placeholder="Correo electónico" required>

            <label for="password">Password:</label>
            <input type="password" name="password" placeholder="Contraseña" required>

            <label for="age">Age:</label>
            <input type="number" name="age" placeholder="Edad" required>

            <button type="submit">Register</button>
        </form>
    </div>
</div>