<h1>Restore Password</h1>
<form action="/reset-password" method="POST">
    <label for="password">Nueva Contraseña:</label>
    <input type="password" id="password" name="password" required>
    <label for="confirmPassword">Confirmar Contraseña:</label>
    <input type="password" id="confirmPassword" name="confirmPassword" required>
    <button type="submit">Restablecer Contraseña</button>
</form>