.head {
    background-color: #333;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.head h1 {
    margin: 0;
    color: #fff;
    font-family: 'Arial Black', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 36px;
}

.head button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.head button:hover {
    background-color: #0056b3;
}

.head a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    margin: 0 10px;
}

.head a:hover {
    text-decoration: underline;
}

h2 {
    color: green;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

li {
    color: red;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    padding: 10px;
    border: black 2px solid;
    background-color: teal;
}

.contenedorLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contenedorLogin div {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    text-align: center;
}

.contenedorLogin div button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contenedorLogin div a {
    text-decoration: none;
    color: #007bff;
}

.contenedorLogin div button a:hover {
    text-decoration: underline;
}

.contenedorLogin div form {
    display: flex;
    flex-direction: column;
}

.contenedorLogin div form label {
    margin-bottom: 8px;
}

.contenedorLogin div form input {
    padding: 8px;
    margin-bottom: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.contenedorLogin div form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}




.contenedorCards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.contenedorCards div {
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    text-align: center;
    display: grid;
}

.contenedorCards div form {
    border: 0px;
    width: max-content;
    height: 45px;
}

.card {
    background-color: #f5f5f5;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    display: grid;
    grid-template-columns: 1fr;
}

.card:hover {
    transform: translateY(3px)
}

.card p {
    margin: 10px 0;
    color: #666;
}

.card a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    transition: color 0.3s ease;
}

.card a:hover {
    color: #0056b3;
}

.card button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 12px 24px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
    margin: 0 auto;
    text-decoration: none;
}

.card button:hover {
    background-color: #0056b3;
}

.card button a {
    color: inherit;
    text-decoration: none;
}


form {
    padding: 10px;
    border: 1px solid black;
    display: grid;
    grid-template-rows: 1fr 1fr;

    grid-gap: 5px;

    justify-content: center;
}

form input {
    text-align: left;
    width: 90%;
}

form p {
    text-align: center;
    width: 90%;
}

form button {
    text-align: center;
    grid-column: 1/3;
}

#contenedorProductos {
    text-align: center;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

#contenedorProductos p {
    margin: 5px;
}

#contenedorProductos button {
    font-size: 20px;
    margin: 5px;
}

.pagination {
    text-align: center;
    font-size: large;
}